.details-modal {
    display: flex;
    height: 94vh;
}

.modal-post-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    align-self: center;
    max-width: 60%;
    width: 50.8%;
    height: 100%;
}

.comments-section {
    display: flex;
    flex-direction: column;
    justify-self: center;
    flex-grow: 1;
    width: 500px;
    margin-right: 10px;
}

.post-modal-header {
    padding-inline-start: 1em;
    margin-bottom: 20px;
    gap: .8em;
    border-bottom: .1px $clr-sep-line solid;
    height: 57px;

    .fa-ellipsis {
        margin-right: 10px;
    }
}

.modal-user-avatar {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.comments-list {
    list-style-type: none;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.comment-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-grow: 1;
}

.first-comment {
    padding-inline-end: 2.5em;
}

.comment-avatar {
    height: 32px;
    width: 32px;
    margin-right: 25px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 90px);
}

.comment-text {
    flex-grow: 1;
    overflow-wrap: break-word;
}

.comment-actions {
    margin-top: 5px;
}

.comment-time {
    color: $clr-txt-sec;
    font-size: 0.9em;
}

.comment-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-inline-start: 1em;
    margin-bottom: 10px;
}

.comment-delete-btn {
    margin-left: 20px;
    font-size: 1.2em;
    color: $clr-txt-sec;
}

.comment-like-btn {
    margin-right: 10px;
}

.details-footer-container {
    padding-top: 1em;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
    border-top: 0.1px $clr-sep-line solid;
}

.likes-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.delete-comment-modal {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 400px;
    z-index: 1002 !important;
    font-size: 14px;
    border-radius: 1em;

    & button {
        height: 3rem;
        font-style: 14px;
        cursor: pointer;
    }
}

.delete-definitivly-comments-btn {
    color: $clr-delete-btn;
    border-bottom: $sep-line;
    font-weight: 700;
}

.delete-modal button.cancel-delete-comments-btn {
    color: black;
    border-top: 2px solid $clr-sep-line;
}

.delete-modal button {
    background-color: white;
    color: $clr-delete-btn;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.comment-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline-start: 1em;
    margin-top: 10px;
    height: 57px;
    border-top: .1px lightgrey solid;
    font-size: 24px;
}

.emojis {
    position: relative;
    cursor: pointer;
}

.emoji-list {
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 4px;
    z-index: 10;
}

.emoji-list span {
    cursor: pointer;
    margin-right: 4px;
}

.comment-input {
    width: calc(100% - 70px);
    border: none;
    flex-grow: 1;
    padding: 10px;
    padding-inline-start: 0;
    border-radius: 5px;
    margin-right: 10px;
}

.comment-input:focus {
    outline: none;
}

.comment-btn {
    padding: 10px 20px;
    padding-inline-end: 0;
    background-color: transparent;
    color: #b5dbff6d;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.comment-btn-full {
    color: $clr-btn1 !important;

    cursor: pointer;
}

.comment-like-btn {
    margin-left: 10px;
}

.close-btn {
    display: none;
    margin-right: 10px;
}