.main-layout {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
    overflow: auto;
}

main {
    justify-self: center;
}

@media all and (max-width: 620px) {

    .main-layout {
        display: block;
    }

    .home-container {
        margin-block-start: 1.5em;
    }

    .post-list {
        margin-top: 3.75rem !important;
    }

    .nav-bar {
        display: flex;
        flex-direction: row !important;
        justify-content: center;
        align-items: center;
        position: fixed !important;
        bottom: 0;
        left: 0;
        top: auto !important;
        width: 100vw;
        z-index: 1111 !important;
        background-color: #fff;
        height: 48px !important;
        border-right: none !important;
        border-top: 0.1px solid $clr-sep-line;
    }

    .nav-list {
        display: flex;
        justify-content: center;
    }


    .chat {
        position: fixed !important;
        bottom: auto;
        right: 0;
        top: 0 !important;
        z-index: 100;
    }

    .notifications {
        position: fixed !important;
        bottom: auto;
        right: 40px;
        top: 0 !important;
        z-index: 100;
    }


    .nav-list {
        flex-direction: row !important;
        flex-grow: 0 !important;
    }

    .vista-logo {
        display: inline !important;
        position: fixed;
        top: -25px;
        left: 20px;
        padding-block-start: 1rem !important;
        z-index: 1001;
    }

    .nav-logo {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 50%;
    }

    .logo {
        font-size: 1.4rem !important;
        margin-left: 0 !important;
    }

    .narrow-top-bar {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 60px;
        z-index: 1000;
    }

    .post-img {
        height: auto !important;
        width: 100vw !important;
        align-self: center;
    }

    .hamburger-menu {
        display: none;
    }

    .explore {
        display: none;
    }

    .userDetails {
        flex-grow: 0 !important;
    }

    .insta-icon {
        display: none !important;
    }

    .nav-name {
        display: none;
    }

    .post-list {
        align-items: center;
    }

    .loginsignup-image {
        display: none;
    }

    .modal-post-img {
        display: none;
    }

    .post-menu-btn {
        display: none;
    }

    .close-btn {
        display: block !important;
        cursor: pointer;
    }

    .details-modal {
        height: 100vh !important;
    }

    .modal-content {
        max-width: 100vw !important;
        max-height: 100vh !important;
    }

    .gallery-container {
        grid-template-columns: repeat(3, 30vw) !important;
        grid-template-rows: inherit !important;
        margin-left: 0 !important;
    }

    .gallery-item {
        // height: 30vw !important;
        aspect-ratio: 1/1;
    }

    .gallery-image {
        height: 30vw !important;
    }

    .comment-input-container {
        margin-bottom: 40px;
    }

    .post-modal-header {
        margin-top: 50px;
    }

    .saved-posts-container {
        grid-template-columns: repeat(3, 30vw) !important;
        grid-template-rows: inherit !important;
        margin-left: 0 !important;
    }

    .saved-post-item {
        aspect-ratio: 1/1;
    }

    .search-page {
        margin-inline: auto;
        margin-top: 50px;
    }

    .add-modal {
        width: 100% !important;
        height: 100% !important;
    }

    .modal-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1200;
        width: 100%;
        background-color: white;
        margin-inline: 0 !important;
    }

    .create-post-container {
        grid-template-columns: none !important;
        grid-template-rows: 60vh 40vh !important;
    }

    // .img-to-add {
    //     height: inherit !important;
    // }

    .img-section {
        margin-top: 40px;
    }


}

@media only screen and (min-width: 620px) and (max-width: 750px) {

    .main-layout {
        grid-template-columns: 75px 1fr;
    }

    .nav-name {
        display: none;
    }

    .vista-logo {
        display: none;
    }

    .insta-icon {
        display: inline;
        padding-inline-start: 1.5rem;
        padding-block-start: 2.1rem;
        margin-bottom: 1em;
    }

    .post-list {
        align-items: center;
    }

    .loginsignup-image {
        display: none;
    }


}