.login-page {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    // height: 100%;
    // width: 23vw;
    // gap: 50px;
    // padding: 20px;
    // margin-top: 100px;
    // margin: 0 auto;

    .logo {
        font-size: 45px;
        margin: 0;
        margin-bottom: 20px;
    }
}

.login-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-layout main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-form,
.signup-form {
    max-width: 340px;
    border: 1px solid rgb(177, 174, 174);
    // height: 55vh;
    padding: 10px;
    // margin-right: 100px;
    border-radius: 1em;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="mail"],
input[type="password"],
button[type="submit"] {
    width: 95%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid rgb(177, 174, 174);
}

.login-submit-btn,
.signup-submit-btn {
    background-color: #0095f6;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 95%;
    height: 45px;
    border-radius: 15px;

}

p {
    margin-top: 20px;
}

.login-image {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 10vw;
    grid-column: 1;
    margin-left: 16vw;
}

.loginsignup-image {
    height: 100%;
    max-height: 75vh;
    height: 450px;
    margin-inline-end: 50px;
    border-radius: 2px solid $clr-sep-line;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

// .login-image img {
//     width: 1300px;
//     height: 100%;
// }

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.log-with-facebook {
    width: 70%;
    height: 40px;
    border-radius: 10px;
    border: none;


    i {
        color: blue;
        margin-right: 15px;
    }
}

.login-demo-btn {
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
    border: none;
}

.login-signup-btn {
    font-weight: 600;
    cursor: pointer;
    color: $clr-btn1;
}